<!DOCTYPE HTML>
<html>
<head>
<title> My Application website </title>
<script type="text/javascript">

</script>
<style type="text/css">
body{
 background-color: black;
}
h1,h2{
 font-family: papyrus;
 color: red;
}
li.one{
 display: inline;
}
a{
 font-family: papyrus;
 color: red;
 font-size: 25px;
 text-decoration: none;
}
p{
 font-family: century gothic, arial;
 color: white;
 font-size: 22px;
}

</style>
</head>
<body>
<h1>Pasta Pot</h1>
<hr>
<ul type="none" style="text-align: center;">
	<li class="one"><a href="index.html">|Home|</a></li>
	<li class="one"><a href="about.html">|About me|</a></li>
	<li class="one"><a href=contact.html>|Contact me|</a></li>
	<li class="one"><a href="list.html">|Creepypastas|</a></li>
</ul>
<br>



